@import url('https://fonts.googleapis.com/css?family=Comfortaa:400,700|Frijole&display=swap&subset=cyrillic,cyrillic-ext');

:root {
    --accent-color: #0c61eb;
    --font-color: black;
    font-family: 'Comfortaa', sans-serif;
    scroll-behavior: smooth;
}

body {
    max-width: 980px;
    margin: auto;
}

header nav .logo {
    font-family: 'Frijole', sans-serif;
    font-size: 2rem;
    margin: 1rem 0;
    text-align: center;
    text-transform: uppercase;
    color: var(--accent-color);
}

header nav .menu {
    display: flex;
    padding: 0;
    list-style-type: none;
    justify-content: space-around;
}

header nav .menu li a {
    text-decoration: none;
    color: var(--font-color);
    text-transform: uppercase;
    border: 1px solid transparent;
    padding: 3px;
}

header nav .menu li a:hover  {
    border: 1px solid var(--accent-color);
}

@media (min-width: 600px) {
    header nav {
        display: flex;
        align-items: center;
    }

    header nav .menu {
        flex: 1;
    }
}

header .banner {
    background-image: url('../img/dodge.jpg');
    background-position: center;
    background-size: cover;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column
}
header .banner h1 {
    font-family: 'Frijole', sans-serif;
    font-size: 6vw;
    text-transform: uppercase;
    background: linear-gradient(9deg, #d81a1a 33%, #f37f07 66%, #7b046e);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: black;
    display: table;
    margin: 20px auto;

}
header .banner p{
    font-family: 'Comfortaa', sans-serif;
    font-size: 5vw;
    background: white;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0;
}
header .banner button{
    font-family: 'Comfortaa', sans-serif;
    font-size: 5vw;
    background: white;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 1px;
    border-width: thick;
}

header .banner button:hover  {
    border: auto;
    border-style: dotted;

}